.pay-action {
  position: fixed;
  z-index: 100;
  bottom: .5rem;
  left: .5rem;
  width: calc(100% - 1rem);
  padding: 1.5rem 1rem;
  background-color: #0984e3;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: .5rem;

  > .sub {
    font-size: .75rem;
  }
}
