.tickets {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  .ticket {
    flex-grow: 1;
    padding: 2rem;
    color: #000000;
    background-color: #dfe6e9;
    border-width: .2rem;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;

    &.not-paid {
      background-color: #FFCD39;
      cursor: default;
    }

    &.paid {
      background-color: #4DD4AC;
      cursor: default;
    }

    &.not-paid,
    &.paid {
      strong {
        color: #343A40;
      }
    }

    &.available {
      strong {
        color: #00b894;
      }
    }

    &.checked {
      border-color: #6c5ce7;
    }

    > input {
      display: none;
    }

    > div {
      margin: 0 auto;
      width: 75px;
      text-align: center;
    }
  }
}
